.img-container {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  position: relative;
}

.img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.remove-icon {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  background-color: aliceblue;
  border-radius: 2px;
  align-items: center;
  cursor: pointer;
}

.remove-icon svg {
  padding-left: 0;
}
